//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 07 18:46:54 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "an<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "an<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P41" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P51" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "P57" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "P58" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "P66" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "P59" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "P44" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "P30" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "P33" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P87" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P85" LEVEL 1;
COMP "key<0>" LOCATE = SITE "P78" LEVEL 1;
COMP "key<1>" LOCATE = SITE "P75" LEVEL 1;
COMP "key<2>" LOCATE = SITE "P67" LEVEL 1;
COMP "key<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "CLOCK_24" LOCATE = SITE "P50" LEVEL 1;
COMP "RESET_N" LOCATE = SITE "P133" LEVEL 1;
SCHEMATIC END;

