# VGA
NET "VGA_HS"        LOC = P87;
NET "VGA_VS"        LOC = P85;  
NET "VGA_R[0]"      LOC = P79;
NET "VGA_R[1]"      LOC = P80;  
NET "VGA_G[0]"      LOC = P81;
NET "VGA_G[1]"      LOC = P82; 
NET "VGA_B[0]"      LOC = P83;
NET "VGA_B[1]"      LOC = P84;

NET "CLOCK_24"  		LOC = P50;   # 24MHz on-board clock
NET "RESET_N"     LOC = p133;  # active-low USER_PB button

#--------------------------------------------------------------

# dip-switches
NET "SW[0]"    LOC = P51;
NET "SW[1]"    LOC = P48;
NET "SW[2]"    LOC = P55;
NET "SW[3]"    LOC = P56;
NET "SW[4]"    LOC = P57;
NET "SW[5]"    LOC = P58;
NET "SW[6]"    LOC = P66;
NET "SW[7]"    LOC = P59;

# Push-Buttons
NET "key[0]"     LOC = P78;
NET "key[1]"     LOC = P75;
NET "key[2]"     LOC = P67;
NET "key[3]"     LOC = P74;

#NET "CLOCK_24"  		LOC = P50;   # 24MHz on-board clock
#NET "RESET_N"     LOC = p133;  # active-low USER_PB button

# 7-segment
NET "an[0]"     LOC = P46;
NET "an[1]"     LOC = P45;
NET "an[2]"     LOC = P41;
NET "an[3]"     LOC = P32;
NET "sseg[0]"   LOC = P47;
NET "sseg[1]"   LOC = P43;
NET "sseg[2]"   LOC = P34;
NET "sseg[3]"   LOC = P40;
NET "sseg[4]"   LOC = P35;
NET "sseg[5]"   LOC = P44;
NET "sseg[6]"   LOC = P30;
NET "sseg[7]"   LOC = P33;
